.home-blog .hero div{
    color: #FFBBFF;
}
.sidebar > .sidebar-links > li > a.sidebar-link{
    font-size: 1.5em !important;
  	margin-left: -0.5em;
}
// 去除左上角标题，作者，标签等
.page .page-title {
    display: none;
}