// 默认值
$accentColor = #FF34B3                      // 主题颜色
$textColor = #FF34B3                        // 文本颜色
$borderColor = #eaecef                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #ffffff                  // 悬浮块背景色


.sidebar-heading,
.about .aboutNav .aboutNavItem,
.timeline-wrapper .year-wrapper li:hover .title,
.comments-wrapper .valine-wrapper #valine.v .vlist .vh .vmeta .vat,
.v .vlist .vcard .vhead .vnick,
.theme-container .tags span,
.dropdown-wrapper,
.navbar .links .screenfull,
.pagation-list .jump,
.kanbanniang .banniang-container .operation i,
.kanbanniang .banniang-container .operation,
.showBanNiang,
.search-box .suggestions li,
.info-wrapper .tags span, .back-to-ceiling, a, button {
  cursor: url(/pointer/link.cur),auto!important;
}